*{margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

body{height:auto;}

p{text-align: left;
    font-size: large;
}
a{text-decoration: none;

}
.container{width: 90%;
    margin: 0 auto;
    position: relative;
    display: block;
    border: 3px dotted brown;}

/*.base{width: auto;
    display: block;
    text-align: center;
}*/
.figure{width: 100%;
    height: 145px;
    overflow: hidden;
}
.pnlMenu{width: 100%;
    height:62px;
    background: whitesmoke;
    display: inline-flex;
}
.menu{width: 170px;
    height: 30px;
    margin: 10px 19px 10px 19px;
    padding: 11px 5px 5px 5px;
    display: inline-block;
    background: palegreen;
    text-align: center;
    border-radius: 6px;
 }
.menu:hover{color: orangered;
    font-weight: bolder;
}
.content{width: 100%;
}
.left_bar{width: 150px;
    position: absolute;
    margin: 15px 0 0 5px;
    padding: 5px;
    float: left;
    background: whitesmoke;
    display: block;
}
.nav{width: 140px;

}
.pnlContent{margin-left: 165px;
    margin-right: 225px;
    padding: 10px;
}
.text{width: 100%;
    margin: 10px;
}
.img{width: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    overflow: hidden;
}
.sign{text-align: center;
    font-style: initial;
}
.right_bar{width: 210px;
    position: absolute;
    margin: 20px 0 0 5px;
    padding: 5px;
    float: right;
    right: 0;
    top: 200px;
    background: whitesmoke;
}
.pnlNews{width: 205px;
    float: right;
}
.news{width: 200px;
    list-style: none;
}
ul li{margin: 4px;}
.hbday{margin-top: 290px;
    color: orangered;
    text-align: center;
    position: absolute;
}

/*.pnlButton{
    width: 210px;
    height: 50px;
    float: right;
}
.button{
    width: 200px;
    height: 40px;
    font-size: large;
    font-stretch: ultra-expanded;
    background: lightgreen;
    border-radius: 6px;
}
.button:hover{
    font-size: larger;
    background: palegreen;
    border-radius: 6px;
}*/
.pnlFooter{width: 100%;
    display: flex;
    margin: auto;

}
.txtAddr{width: 100%;
    height: 90px;
    margin: auto;
    top: auto;
    display: flex;
    text-align: center;
    background: whitesmoke;
}
.txt{width: 100%;
    margin: 10px;
}