*{margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

body{height:auto;
}

/*p{text-align: justify;
    font-size: large;}*/
h3{padding: 0 0 5px 5px;}

.container{width: 90%;
    margin: 0 auto;
    position: relative;
    display: block;

}

/*.base{width: auto;
    display: block;
    text-align: center;
}*/
.figure{width: 100%;
    height: 150px;
    overflow: hidden;
}
.pnlMenu{width: 100%;
    height: 70px;
    display: inline-block;
    /*overflow: auto;*/
}
.menu{width: 170px;
    height: auto;
    margin: 0;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    border-radius: 6px;
    line-height: 45px;
 }
.pnlMenu ul{margin: 14px 0 0 0;}
.pnlMenu li{list-style: none;
    position: relative;
    background: #e4daef;
}
.pnlMenu li a{display: block;}
.pnlMenu ul li{display: inline-block;
    background: #e4daef;
    margin: 0;
    border-radius: 4px;
}
.pnlMenu ul li a{display: block;
    width: 170px;
    margin: 0;                    /*примыкание блоков выпадающего меню друг к другу*/
}
.pnlMenu ul li ul{display: none;
    position: absolute;
    margin: 0;                     /*примыкание выпадающего меню к блоку*/
    line-height: 36px;
}
.pnlMenu ul li:hover ul{display: block;
    /*z-index: 100;*/}

/*.menu:hover{color: orangered;
    font-weight: bolder;}*/

.content{width: 100%;
}
main a{color: black;
}
.left_bar{width: 150px;
    position: absolute;
    margin: 30px 0 0 5px;
    padding: 5px;
    float: left;
    /*background: whitesmoke;*/
    display: block;
    line-height: 20px;
}
.nav{width: 140px;
    list-style: none;
}
ul li a:hover{color: darkorange;}

.hbday{width: 150px;
    top: 500px;
    padding: 5px;
    margin: 5px 0 0 5px;
    position: absolute;
    color: blue;
    /*background: lavenderblush;*/
    background-image: url("../img/hbday1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hday{text-align: left;
    font-size: medium;
    padding: 0 0 0 5px;

}
.pnl_content {margin-left: 210px;
    margin-right: 250px;
    padding: 15px 10px 10px 10px;
    overflow: auto;
    line-height: 1.5em;
}
.text{/*width: 100%;*/
    min-width: 500px;
    margin: 10px;
}
.img{width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0 5px 0;
}
.sign{text-align: center;
    font-style: initial;
    font-size: small;
    float: left;
}
.right_bar{width: 210px;
    position: absolute;
    margin: 30px 0 0 5px;
    padding: 5px 5px 5px 5px;
    float: right;
    right: 0;
    top: 208px;
    /*background: whitesmoke;*/
    line-height: 20px;
}
.pnlNews{width: 205px;
    float: right;
}
.news{width: 200px;
    list-style: none;
}
ul li{margin: 8px;}
.pnlNews ul li:before{content: '\26A1';}
.go{width: 205px;
    margin: 30px 0 0 5px;
    float: right;
}
.go ul{list-style: none;
}
.pnlFooter{width: 100%;
    display: flex;
    margin: auto;
}
.txtAddr{width: 100%;
    height: 90px;
    margin: auto;
    top: auto;
    /*display: flex;*/
    text-align: center;
    background: whitesmoke;
}
.txt{width: 100%;
    margin: 5px 0 5px 0;
    text-align: center;
    line-height: 28px;
}
footer p:before{content: ' \00A9';}
footer p{text-align: center;}