form{display: grid;
    width: 400px;
}
div{display: grid;
    grid-template-columns: 90px 1fr;
    grid-gap: 10px;
    padding: 5px;
    border: 1px solid black;
}
label{grid-column: 1/2;
    text-align: right;
}
input{grid-column: 2/3;}
